---
import proyects from '../data/proyects.json';
---

<section class="flex flex-col gap-5" id="proyectos">
	<div class="flex flex-col gap-2">
		<h2 class="text-2xl px-10 lg:px-0 lg:text-4xl font-medium">Mis proyectos</h2>
		<p class="px-10 lg:px-0 text-lg lg:text-2xl text-[var(--text)]">Sitios reales pensados para mejorar la <br class="hidden lg:inline">presencia digital y la conversión.</p>
	</div>

	<div class="flex flex-col gap-5">
		<div class="
			ml-10 lg:ml-0
			overflow-x-scroll
			lg:overflow-x-auto
			truncate
			flex gap-5
		">
			{["Corporativo/Negocio", "Tienda online (e-commerce)","Landing page", "App móvile", "Personal/Creativo"].map(a => (
				<span class="bg-[var(--bg)] hover:bg-[#f3f5f7ff] cursor-pointer px-6 py-4 font-medium">
					{a}
				</span>
			))}
		</div>
		<div class="px-10 lg:px-0 grid grid-cols-1 lg:grid-cols-3 w-full gap-5">
			{proyects.map(a => { 
				const Tag = a.url ? 'a' : 'span'
				return (
					<article class="group">				
						<Tag {...(a.url ? {href: a.url, 'aria-label': `Ir a la web del proyecto ${a.title}`, target: '_blank'} : {})} class="flex flex-col bg-[#fafafa] min-h-40 h-full relative">
							<div class="overflow-hidden peer-hover:bg-red-200 bg-[var(--bg)] transition-bg duration-150 ease-in h-60 w-full relative">
								<img width="300" height="300" src={a.images} alt={a.title} loading={a.id === 7 ? 'lazy' : 'eager'} class="group-hover:scale-[1.05] transition-scale duration-250 ease h-full w-full object-cover" />
								{a.url && (
									<span class="text-[#eee] font-medium absolute top-5 right-5 p-2 bg-[#000a] text-xs flex items-center gap-1">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-link"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M9 15l6 -6" /><path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" /><path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" /></svg>
										enlace
									</span>
								)}
							</div>
							<div class="flex flex-col gap-2 p-4">
								<h3 class="font-medium text-lg lg:text-xl">{a.title}</h3>
								<span class="text-sm text-[#444] font-medium">{a.tags}</span>
								<p class="text-[var(--text)]" style="white-space: pre-line;">{a.desc}</p>
							</div>
						</Tag>
					</article>
				)}
			)}
		</div>
	</div>

</section>